.field{
    position: relative;
    box-sizing: border-box;
    input[type=text], input[type=password]{
        font-size: 1.2em;
        padding: .2em .4em;
        margin: .2em 0;
        outline: none;
        border: solid 3px $dark;
        border-radius: .2em;
        background: $clear;
    }
    label{
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin-left: .4em;
        background: $clear;
        border-radius: .2em;
        color: $dark;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        padding: .1em .2em;
        cursor: text;
    }
    
    input[type=text]:focus + label, 
    input[type=password]:focus + label,
    input[type=text]:not(:placeholder-shown) + label, 
    input[type=password]:not(:placeholder-shown) + label{
        transform: translateY(-125%) translateX(2em) scale(0.8);
        cursor: auto;
    }
}